# XXX add specific version numbers once we can confirm the latest stable versions all work
django==1.4.3
pymongo==2.7.2
# XXX - re-enable once we make postgresql / mysql an developer-defined detail
#psycopg2
pycrypto==2.6.1
django-extensions==1.3.8
django-uni-form==0.9.0
django-tastypie==0.9.11
mongoengine==0.8.8
requests==2.3.0
django-4store==0.3
django-allauth==0.17.0

# oauth2app
https://github.com/hiidef/oauth2app/tarball/master
# shibboleth integration login with MIT Credentials, assuming the machine has shibboleth installed
https://github.com/Brown-University-Library/django-shibboleth-remoteuser/tarball/master
